.Results-container {
  max-width: 80vw;
  min-height: 2.3rem;
  display: flex;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.Results-nonvegan-info {
  font-size: 1rem;
  color: red;
  padding: 0.5em;
}

.Results-flagged-info {
  font-size: 1rem;
  color: orange;
  padding: 0.5em;
}

.Results-other-info {
  font-size: 1rem;
  color: grey;
  padding: 0.5em;
}
