.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
}

.App-header {
  text-align: center;
}

.App-reload {
  min-width: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.App-title {
  font-size: 1.5em;
}

.App-form {
  min-width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size: large;
  padding: 1em;
}

.App-input {
  width: 100%;
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1.3em;
}

.App-input-nonvegan {
  color: red;
}

.App-input-flagged {
  color: orange;
}

.App-input:focus {
  outline-width: 0;
}

.react-autosuggest__suggestion--highlighted {
  color: black;
  background-color: aliceblue;
  padding-left: 0.2em;
  cursor: pointer;
}

.react-autosuggest__suggestions-list {
  color: grey;
  margin: 0;
  padding-left: 0.4em;
  padding-top: 0.3em;
  line-height: 1.5em;
  border-left: 1px dotted grey;
  list-style-type: none;
  text-align: left;
}
