.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.App-header {
  padding: 0.1em;
}

.App-title {
  font-size: 2em;
}

.App-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size: large;
  padding: 1em;
}

.App-input {
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1.5em;
}

.App-input:focus {
  outline-width: 0;
}

.App-info {
  font-size: 1.2em;
  display: flex;
  flex-flow: row nowrap;
}

.App-info-nonvegan {
  padding: 0.4em;
  color: red;
}

.App-info-flagged {
  padding: 0.4em;
  color: orange;
}

.App-info-other {
  padding: 0.4em;
  color: grey;
}
